.btn-menu {
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: $text-color;
	display: block;
	margin-right: 10px;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		content: "";
		background: $color-white;
		display: block;
		width: 14px;
		height: 2px;
		left: 50%;
		margin-left: -7px;
		border-radius: 2px;
		transition: position 0.2s ease-in;
	}

	&:after {
		top: 10px;
	}

	&::before {
		bottom: 10px;
	}
}

.btn-menu--close {
	&:after {
		top: 13px;
		transform: rotate(45deg);
	}

	
	&::before {
		bottom: 13px;
		transform: rotate(-45deg);
	}
}
