.favorite-content {
	padding: 20px;
	width: 100%;
	background: #F8F8F8;
	transition: all 0.3s ease-in;

	@media(min-width: 768px) {
		width: 480px;
	}

	@media(min-width: 1200px) {
		width: 480px;
		padding: 40px;
	}
}

.favorite-content__header {
	margin: 0;
	margin-bottom: 20px;
}
