.static-content{
	padding: 20px;
	width: 100%;


	@media(min-width: 768px) {
		padding: 40px;
	}

	@media(min-width: 1200px) {
		width: 680px;
		margin: 0 auto;
	}
}

.static-content__header {
	font-size: 32px;
	line-height: 44px;
	margin: 0;
}

.static-content__description {
	font-size: 24px;
	line-height: 44px;
	font-weight: 500;
}

.static-content__center {
	width: 100%;
}